<section>
    <h1>Create new accomodation</h1>
    <form class="aligned" action="/create" method="post">
        <label><span>Name</span><input type="text" name="name" ></label>
        <label><span>City</span><input type="text" name="city" ></label>
        <label><span>Image URL</span><input type="text" name="imageUrl" ></label>
        <label><span>Beds</span><input type="number" name="beds" ></label>
        <label><span>Price</span><input type="number" name="price" ></label>
        <label><span>Description</span><textarea type="text" name="description" ></textarea></label>
        <button>Create Accommodation</button>
    </form>
</section>