@media (max-width: 600px) {
    .home-navbar {
        height: 40px;
        position: absolute;
    }

    .home-navbar1{
        display: none;
    }
    
    .home-cards-container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }



    .category-card-image {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .section-container {
        flex-direction: column;
    }

    .home-left4 {
        padding: 30px;
    }
    
    .home-text30 {
        width: 100%;
    }

    .home-image6 {
        width: 100%;
    }

    .home-container08 {
        flex-direction: column;
    }

    .blog-post-card-blog-post-card {
        max-width: 100%;
    }

    .home-footer1 {
        flex-direction: column-reverse;
    }

    .home-links-container {
        flex-direction: column;
    }
}