<div class="container">
  <form #loginForm="ngForm" class="login" (ngSubmit)="this.userService.login(loginForm)">

      <fieldset>
          <h2>Login Form</h2>

          <p class="field field-icon">
              <label for="email"><span><i class="fas fa-envelope"></i></span></label>
              <input required email #emailInput="ngModel" class="input-error" type="email" name="email" id="email" placeholder="john.doe@gmail.com" ngModel>
          </p>
          @if(emailInput.touched) {
            @if(emailInput.hasError('required')) {
              <p class="error">
                  Email is required!
              </p>
            }
            @if(emailInput.hasError('email')) {
              <p class="error">
                  Email is not valid!
              </p>
            }
          }


          <p class="field field-icon">
              <label for="password"><span><i class="fas fa-lock"></i></span></label>
              <input required minlength="4" #passwordInput="ngModel" type="password" name="password" id="password" placeholder="******" ngModel>
          </p>

          @if(passwordInput.touched) {
            @if(passwordInput?.errors?.['required']) {
              <p class="error">
                Password is required!
            </p>
            }
            @if(passwordInput?.errors?.['minlength']) {
              <p class="error">
                Password must be at least 4 characters!
            </p>
            }
          }



          <!-- <button (click)="userService.login($event, emailInput.value, passwordInput.value)">Login</button> -->
          <button >Login</button>

          <p class="text-center">
              Have an account?
              <a routerLink="/register">Register</a>
          </p>

      </fieldset>
  </form>
</div>
