<div class="container">
  <form [formGroup]="registerForm" class="register" (ngSubmit)="handleSubmit()">

    <fieldset>
      <h2>Registration Form</h2>

      <!-- username -->
      <p class="field field-icon">
        <label for="username"><span><i class="fas fa-user"></i></span></label>
        <input formControlName="username" class="input-error" type="text" name="username" id="username" placeholder="Johny">
      </p>
      @if(registerForm.get('username')?.touched) {
        @if(registerForm.get('username')?.hasError('required')) {
          <p class="error">
            Username is required!
        </p>
        }
      }



      <!-- email -->
      <p class="field field-icon">
        <label for="email"><span><i class="fas fa-envelope"></i></span></label>
        <input formControlName="email" type="email" name="email" id="email" placeholder="john.doe@gmail.com">
      </p>
      @if(registerForm.get('email')?.touched) {
        @if(registerForm.get('email')?.hasError('required')) {
          <p class="error">
            Email is required!
          </p>
        }
        @if(registerForm.get('email')?.hasError('email')) {
          <p class="error">
            Email is not valid!
        </p>
        }
      }

      <!-- telephone -->
      <p class="field field-icon">
        <label for="tel"><span><i class="fas fa-phone"></i></span></label>
        <select formControlName="telCode" name="telCode" id="select-tel" class="tel">
          <option value="+359">+359</option>
        </select>
        <input formControlName="tel" type="text" name="tel" id="tel" placeholder="885 888 888">
      </p>

      <!-- password -->
      <p class="field field-icon">
        <label for="password"><span><i class="fas fa-lock"></i></span></label>
        <input formControlName="password" type="password" name="password" id="password" placeholder="******">
      </p>

      @if(registerForm.get('password')?.touched) {
        @if(registerForm.get('password')?.hasError('required')) {
          <p class="error">
            Password is required!
          </p>
        }
        @if(registerForm.get('password')?.hasError('minlength')) {
          <p class="error">
            Password must be at least 4 characters!
          </p>
        }
      }
      <!-- rePassword -->
      <p class="field field-icon">
        <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
        <input formControlName="rePassword" type="password" name="rePassword" id="rePassword" placeholder="******">
      </p>
      <!-- <p class="error">Repeat Password does not match password!</p> -->

        <button>Create Account</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>

    </fieldset>
  </form>
</div>
