<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/site.css">
    <title>{{title}}</title>
</head>

<body>

    <div id="page-content">

        <header>
            <a href="/" class="title-logo">
                <img src="/static/assets/logo.png">
                <span>Auction House</span>
            </a>
            <nav class="main-nav nav-mid">
                <ul>
                    <li>
                        <a href="/catalog">Browse</a>
                    </li>
                    {{#if hasUser}}
                    <!-- User actions -->
                    <li class="user">
                        <a href="/item/create">Publish</a>
                    </li>

                    <!-- Bonus action -->
                    
                    <li class="user">
                        <a href="#">Closed Auctions</a>
                    </li>
                    

                    <li class="user">
                        <a href="/logout">Logout</a>
                    </li>
                    <!-- Guest actions -->
                    {{else}}
                    <li class="guest">
                        <a href="/auth/login">Register</a>
                    </li>
                    <li class="guest">
                        <a href="/auth/register">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </header>

        <main>

            <!-- In case of error, display the following div-->
            {{#if error}}
            <div class="error-box">
                {{#each error}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
            {{/if}}

            {{{body}}}

        </main>

        <footer>SoftUni &copy; 2023</footer>
    </div>

</body>

</html>