<section id="create-section" class="">

    <h1 class="item">Register</h1>
    <div class="padded">
        <main class="item align-center">
            {{#if error}}
            <div class="error-box">
                {{#each error}}
                <p>{{this}}</p>
                {{/each}}
            </div>
            {{/if}}
            <form class="layout left large" method="post" action="/auth/register">

                <div class="aligned">
                    <label><span>Username</span><input type="text" name="username"></label>
                    <label><span>Password</span><input type="password" name="password"></label>
                    <label><span>Repeat password</span><input type="password" name="rePass"></label>
                    <input class="action" type="submit" value="Sign up">
                </div>
            </form>
            <footer>Already have an account? <a href="/auth/login">Sign in here.</a></footer>
        </main>
    </div>


</section>